.desktop-datos-contacto,
.desktop-datos-contacto * {
  box-sizing: border-box;
}
.desktop-datos-contacto {
  background: var(--background-container, #e2e3d1);
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main {
  background: var(--background-container, #e2e3d1);
  border-radius: 40px 40px 0px 40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.container-tabs {
  background: var(--background-background, #f2eddf);
  border-radius: 9999px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  background: var(--secondary-secondary-container, #b6e1f2);
  border-radius: 999px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
.tab:hover:not(.tab-disabled) {
  background: #a5d5e8;
}
.tab:active:not(.tab-disabled) {
  background: #c7eef9;
}
.tab2 {
  border-radius: 999px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background: transparent;
}
.tab2:hover:not(.tab-disabled) {
  background: rgba(0, 0, 0, 0.05);
}
.tab2:active:not(.tab-disabled) {
  background: rgba(0, 0, 0, 0.02);
}
.tab-disabled {
  background: transparent !important;
  cursor: not-allowed !important;
  pointer-events: auto;

  .label {
    color: rgba(0, 0, 0, 0.4);
  }

  .icon {
    opacity: 0.4;
  }
}
.tab-disabled:hover {
  background: transparent !important;
}
.tab-disabled:active {
  background: transparent !important;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.label {
  color: #000000;
  text-align: left;
  font-family: var(--h3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--h3-font-size, 18px);
  line-height: var(--h3-line-height, 130%);
  font-weight: var(--h3-font-weight, 600);
  position: relative;
  white-space: nowrap;
}
.body {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  position: relative;
  overflow-y: auto;
  padding: 0;
}






