.sidebar {
  padding: 0 16px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 104px;
  flex-shrink: 0;
  background: var(--background-background, #f2eddf);
  height: 100%;
  overflow-y: auto;
}
.icon2 {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
.icon3 {
  background: var(--primary-primary-ligth, #d6d98f);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: var(--primary-primary-accent, #bfd132);
  }
}

.icon4 {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.icon5 {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

// Icon SVG styles
.menu,
.file-text,
.search2,
.monitor,
.shield,
.settings,
.log-out {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}