.footer {
  background: rgba(51, 51, 51, 0.2);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 108px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}