<!-- Header -->
<nav class="header">
    <div class="logo">
        <img class="image-1" src="assets/logo-01.png" alt="Logo" />
    </div>
    <div class="title2">Registrar Acuerdos de Pago</div>
    <div class="profile-menu">
        <div class="profile-avatar">
            <div class="ellipse-1"></div>
            <div class="label4">JD</div>
        </div>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-down">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 9l6 6l6 -6"/>
            </svg>
        </div>
    </div>
</nav>