:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.container2 {
  background: var(--background-background, #f2eddf);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-number {
  background: var(--secondary-secondary, #094a61);
  border-radius: 50px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  aspect-ratio: 1;
}

.tabler-number-1,
.tabler-number-2,
.tabler-number-3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}

.title {
  color: #000000;
  text-align: left;
  font-family: var(--h3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--h3-font-size, 18px);
  line-height: var(--h3-line-height, 130%);
  font-weight: var(--h3-font-weight, 600);
  position: relative;
}

.item-input,
.item-input3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.label2,
.tel-fono-alternativo {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-1-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-1-font-size, 14px);
  line-height: var(--body-text-1-line-height, 140%);
  font-weight: var(--body-text-1-font-weight, 500);
  position: relative;
}

.input-text {
  background: #f4f3e9;
  border-radius: 999px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.valor,
.ingrese-el-n-mero-de-tel-fono {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: var(--field-text-1-font-family, "Inter-Regular", sans-serif);
  font-size: var(--field-text-1-font-size, 14px);
  line-height: var(--field-text-1-line-height, 140%);
  font-weight: var(--field-text-1-font-weight, 400);
  position: relative;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 24px;
  height: 24px;
}

.checkbox-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.checkbox-and-label {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.checkbox {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-100, 4px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-tertiary, #757575);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.label3 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-text-1-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-1-font-size, 14px);
  line-height: var(--body-text-1-line-height, 140%);
  font-weight: var(--body-text-1-font-weight, 500);
  position: relative;
  flex: 1;
}

.frame-427319119 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.input-text2,
.frame-427318990 {
  background: #f4f3e9;
  border-radius: 999px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.group-item-input {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.item-input2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.icon-down,
.icon-down2 {
  width: 24px;
  height: 24px;
}
