<div class="container2">
  <div class="title-container">
    <div class="icon-number">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-number-1 icon icon-tabler icons-tabler-outline icon-tabler-number-1"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 20v-16l-5 5" /></svg>
    </div>
    <div class="title">Información del infractor</div>
  </div>
  <div class="item-input">
    <div class="label2">Número de documento</div>
    <div class="input-text">
      <div class="valor">Ingrese número de documento</div>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
          <path d="M21 21l-6 -6"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="title-container">
    <div class="icon-number">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-number-2 icon icon-tabler icons-tabler-outline icon-tabler-number-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 8a4 4 0 1 1 8 0c0 1.098 -.564 2.025 -1.159 2.815l-6.841 9.185h8" /></svg>
    </div>
    <div class="title">Apoderado (opcional)</div>
  </div>
  <div class="checkbox-field">
    <div class="checkbox-and-label">
      <div class="checkbox"></div>
      <div class="label3">Registrar apoderado</div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="title-container">
    <div class="icon-number">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-number-3 icon icon-tabler icons-tabler-outline icon-tabler-number-3"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12a4 4 0 1 0 -4 -4" /><path d="M8 16a4 4 0 1 0 4 -4" /></svg>
    </div>
    <div class="title">Datos de ubicación del infractor</div>
  </div>

  <div class="checkbox-field">
    <div class="checkbox-and-label">
      <div class="checkbox"></div>
      <div class="label3">Usar la misma dirección del infractor</div>
    </div>
  </div>

  <div class="frame-427319119">
    <div class="item-input">
      <div class="label2">Dirección completa</div>
      <div class="input-text2">
        <div class="valor">Ingrese la dirección</div>
      </div>
    </div>

    <div class="group-item-input">
      <div class="item-input2">
        <div class="label2">Departamento</div>
        <div class="input-text">
          <div class="valor">Selecciona</div>
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-down">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 9l6 6l6 -6"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="item-input2">
        <div class="label2">Ciudad</div>
        <div class="input-text">
          <div class="valor">Selecciona</div>
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-down2">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 9l6 6l6 -6"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="item-input3">
      <div class="tel-fono-alternativo">Teléfono alternativo</div>
      <div class="frame-427318990">
        <div class="ingrese-el-n-mero-de-tel-fono">
          Ingrese el número de teléfono
        </div>
      </div>
    </div>

    <div class="item-input3">
      <div class="label2">Correo adicional</div>
      <div class="input-text2">
        <div class="valor">Ingrese el correo</div>
      </div>
    </div>
  </div>
</div>
